/* Active window colors */
@define-color active_window_bg_color @theme_selected_bg_color;
@define-color active_window_fg_color @theme_selected_fg_color;

/* Inactive window colors */
@define-color inactive_window_fg_color @theme_unfocused_fg_color;
@define-color inactive_window_bg_color @theme_unfocused_bg_color;

headerbar {
    box-shadow: none;
}

headerbar:not(:backdrop),
headerbar:not(:backdrop) button:not(:backdrop) {
    color: @active_window_fg_color;
    background-color: @active_window_bg_color;
    background-image: none;
    border-color: @active_window_bg_color;
    text-shadow: none;
    -gtk-icon-shadow: none;
}

headerbar:backdrop,
headerbar:backdrop button:backdrop {
    color: @inactive_window_fg_color;
    background-color: @inactive_window_bg_color;
    background-image: none;
    border-color: @inactive_window_bg_color;
}


/* Disables the circle image around the close button. */
headerbar button.titlebutton.close:not(:hover) {
    background-image: none;
}

headerbar button.titlebutton:not(:backdrop) {
    color: @active_window_fg_color;
}

headerbar button.titlebutton:backdrop {
    color: @inactive_window_fg_color;
}

/* Hover over icons will invert the image with a square image. */
headerbar button.titlebutton:hover:not(:backdrop){
    color: @active_window_bg_color;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.8, to(@active_window_fg_color), to(transparent));
}

headerbar button:hover:not(:backdrop){
    color: @active_window_bg_color;
    background-color: @active_window_fg_color;
}

/* Clicking an icon will change the hover representation from circle to square. */
headerbar button.titlebutton:active:not(:backdrop) {
    color: @active_window_bg_color;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@active_window_fg_color), to(transparent));
}

/* Hover over icons will invert the image with a square image. */
headerbar button.titlebutton:hover:backdrop {
    color: @inactive_window_bg_color;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.8, to(@inactive_window_fg_color), to(transparent));
}

headerbar button:hover:backdrop {
    color: @inactive_window_bg_color;
    background-color: @inactive_window_fg_color;
}

/* Clicking an icon will change the hover representation from circle to square. */
headerbar button.titlebutton:active:backdrop {
    color: @inactive_window_bg_color;
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@inactive_window_fg_color), to(transparent));
}

/* Uncomment this section to increase the size of the icons. */
/*
headerbar {
    min-height: 36px;
}

headerbar button.titlebutton,
headerbar button.titlebutton image {
    min-width: 28px;
    -gtk-icon-transform: scale(1.5);
    background-size: 28px 28px;
}
*/
